body {
    background-color: #1e8cbe;
    color: #ffffff;
    font-family: 'Karla', sans-serif;
}

a .container {
    width: 80%;
    margin: 20px auto;
}


/*Navigation bar css*/

.navbar {
    background-color: white;
}

.navbar a {
    color: black;
    font-size: 30px;
}

.navbar a:hover {
    color: blue;
    font-size: 35px;
}

.menu ul {
    display: grid;
    grid-template-columns: 10fr 5fr 5fr 5fr;
    grid-column-gap: 50%;
}

.menu .page-item-29 {
    grid-row: 1;
    grid-column: 3;
    padding: 10%;
}

.menu .page-item-33 {
    grid-row: 1;
    grid-column: 2;
    padding: 10%;
}

.menu.page-item-24 {
    grid-row: 1;
    grid-column: 1;
    padding: 10%;
}


/*Footer instellingen*/

footer {
    background-color: rgb(3, 11, 82);
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 12.5%;
    grid-column-gap: 30%;
    font-size: 30px;
    color: white;
}

.footerLinks {
    grid-column: 1;
    grid-row: 1;
    margin-left: 10%;
}

.footerMidden {
    grid-column: 2;
    grid-row: 1;
}

.footerRechts {
    grid-column: 3;
    grid-row: 1;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}