@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
body {
    background-color: #E24425;
    color: black;
    font-family: "Grafik Regular", sans-serif;
}


/*custom fonts*/

@font-face {
    font-family: "SchulbuchNord Normal";
    src: url(fonts/SchulbuchNord.otf);
}

@font-face {
    font-family: "Graphik regulare";
    src: url(fonts\Graphik-fontt-family/GraphikRegular.otf);
}


/*container*/

a .container {
    width: 80%;
    margin: 20px auto;
}

.container {
    align-items: center;
    padding: 5%;
}


/*Navigation bar css*/

.menu {
    background-color: black;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: right;
}

.menu a {
    color: white;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.menu a:hover {
    color: blue;
}


/*button styling*/

a:hover {
    background-color: rgb(41, 41, 41);
    text-decoration: none;
    color: white;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
    background-color: black;
    text-align: center;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 20px;
}

p {
    text-align: center;
}

.EscapeviaescapeHeading {
    font-size: 45px;
    padding: 8%;
}


/*container instellingen*/

.escapeviaEyescapeSection {
    text-align: center;
    width: 100%;
    margin: auto;
}

.escapeviaEyescapeSection {
    text-align: center;
}

.escapeviaEyescapeTitleHeading {
    font-size: 35px;
}

.buttonl {
    align-items: center;
}

.is-style-outline>.wp-block-button__link:not(.has-background) {
    background-color: transparent;
    justify-content: right;
}

.leesmeerButtons {
    padding-left: 30%;
}

.bezoekButtons {
    justify-content: center;
    padding-left: 35%;
}


/*Footer instellingen*/

footer {
    background-color: #030b52;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10%;
    grid-column-gap: 30%;
    font-size: 30px;
    color: white;
}

.footerLinks {
    grid-column: 1;
    grid-row: 1;
    margin-left: 10%;
}

.footerMidden {
    grid-column: 2;
    grid-row: 1;
}

.footerRechts {
    grid-column: 3;
    grid-row: 1;
}