@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import "navigation";
@import "footer";

/*kleuren opdracht*/

$body-item-bg:#1e8cbe;
$body-color:#ffffff;
$body-fontfamily:"Karla",
sans-serif;
body {
    background-color: $menu-item-bg;
    color: $body-color;
    font-family: $body-fontfamily;
}

a .container {
    width: 80%;
    margin: 20px auto;
}

a {
    text-decoration: none;
    color: white;
    &:hover {
        text-decoration: none;
        color: #464646;
    }
}