/*Footer instellingen*/

footer {
    background-color: #030b52;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 12.5%;
    grid-column-gap: 30%;
    font-size: 30px;
    color: white;
}

.footerLinks {
    grid-column: 1;
    grid-row: 1;
    margin-left: 10%;
}

.footerMidden {
    grid-column: 2;
    grid-row: 1;
}

.footerRechts {
    grid-column: 3;
    grid-row: 1;
}